<#
    ProjectFileName = @"..\FunBasic.Library\FunBasic.Library.csproj";
    Namespace       = "";
    BlackList       = new []
      {
          BlackListFragment(@"AssemblyInfo.cs"),
          BlackListFragment(@"Global_AssemblyInfo.cs"),
          BlackListFragment(@"Modules\Web.cs"),
      };

#>

<#@ include file="$(SolutionDir)\packages\T4Include.1.1.4\T4\IncludeProject.ttinclude" #>
